<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>Results</h2>
<p>There are [[${total}]] customers in [[${state}]]</p>
<table>
    <tr>
        <th>Name </th>
        <th>     </th>
        <th>City</th>
        <th>State</th>
    </tr>
    <tr th:each="result:${results}">
        <td th:text="${result.firstName}"></td>
        <td th:text="${result.lastName}"></td>
        <td th:text="${result.city}"></td>
        <td th:text="${result.state}"></td>
    </tr>
</table>
</body>
</html>